@model IEnumerable<it_shop_app.Models.Artikel>
    
@{
    ViewData["Title"] = "Artikelseite";
}


<div class="text-center">
    <h1 class="display-4">Hier stehen die Artikel</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
            <br>
            @foreach (var merkmal in item.Merkmale) {
                <td>
                    @merkmal.Bezeichnung
                </td>
                <td>
                    @merkmal.Wert
                </td><br>
            }
        </tr>
}
    </tbody>
</table>
