@model IEnumerable<it_shop_app.Models.Artikel>
    
@{
    ViewData["Title"] = "Artikelseite";
}

<div class="row">
    <div class="col-2">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
    </div>
    <div class="col-10">

        @foreach (var artikel in Model)
        {
            <div class="jumbotron">

                <h1 class="display-6">
                    @Html.DisplayFor( art => artikel.Bezeichnung )
                </h1>

                <p>
                    @Html.DisplayFor( art => artikel.Beschreibung )
                </p>

                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor( art => artikel.Preis )
                    </dt>

                    <dd class="col-sm-10">
                        @Html.DisplayFor( art => artikel.Preis )
                    </dd>

                    @foreach (var merkmal in artikel.Merkmale)
                    {

                        <dt class="col-sm-2">
                            @merkmal.Bezeichnung
                        </dt>

                        <dd class="col-sm-10">
                            @merkmal.Wert
                        </dd>

                    }

                </dl>
                <hr class="my-4">
                <a asp-action="Details" asp-route-id="@artikel.ID" class="btn btn-primary btn" role="button">						
                    Details
                </a>
                <a class="btn btn-primary btn" href="#" role="button">
                    <i class="fas fa-shopping-cart"></i>
                    Zum Warenkorb
                </a>
            </div>
        }

    </div>
