@model it_shop_app.Models.WarenkorbViewmodel

@{
    ViewData["Title"] = "Warenkorb";
    decimal preis = 0;
    @foreach(var w in Model.Warenkoerbe) {
        preis+=(w.Artikel.Preis) * w.Anzahl;
    }
    ViewData["Gesamtpreis"] = preis;
}

<h1 class="display-4">@ViewData["Title"]</h1>

<ul class="list-group">

    @foreach (var warenkorb in Model.Warenkoerbe)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <h5>@warenkorb.Artikel.Bezeichnung</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h5>@warenkorb.Artikel.Preis €</h5>
                </div>
                <div class="col-md-1">
                    <div class="input-group">
                        <form asp-action="UpdateAnzahl" method="post">
                            <input type="hidden" value="@warenkorb.Artikel_ID" asp-for="@warenkorb.Artikel_ID" />
                            <input type="hidden" value="@warenkorb.Nutzer_ID" asp-for="@warenkorb.Nutzer_ID" />
                            <select asp-for="@warenkorb.Anzahl" asp-items="@Model.Anzahl" class="custom-select" aria-label="Anzahl" onchange="this.form.submit()">
                            </select>
                            <input type="submit" value="GO" hidden />
                        </form>
                    </div>
                </div>
                <div class="col-md-1 mr-0">
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" value="@warenkorb.Artikel_ID" asp-for="@warenkorb.Artikel_ID" />
                        <input type="hidden" value="@warenkorb.Nutzer_ID" asp-for="@warenkorb.Nutzer_ID" />
                        <button type="submit" value="Löschen" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>
<br />
<div class="row">
    <div class="col-md-auto">
        <h5>

            Gesamtpreis: 

            @if (!(preis == 0))
            {
                @ViewData["Gesamtpreis"]
            }
            else
            {
                @Html.DisplayName("0")
            }
            €
        </h5>
    </div>    
</div>
<div class="row">
    <div class="col-md-auto">
        <form asp-action="bestellen" method="post">
            <input type="hidden" asp-for="@Model.gesamtpreis" value="@ViewData["Gesamtpreis"]" />
            <button type="submit" class="btn btn-primary">Bestellen</button>
        </form>
    </div>
</div>
