@model it_shop_app.Models.CreateArtikelViewModel
@{
    ViewData["Title"] = "Details - Artikel";
}

<h1 class="display-3">Merkmale Hinzufügen</h1>

<div class="jumbotron">
    <h1 class="display-6">
        @Html.DisplayFor( model => model.artikel.Bezeichnung )
    </h1>
    <p>
        @Html.DisplayFor( model => model.artikel.Beschreibung )
    </p>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor( model => model.artikel.Preis )
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor( model => model.artikel.Preis ) €
        </dd>
        @foreach (var merkmal in Model.artikel.Merkmale)
            {
                <dt class="col-sm-3">
                    @merkmal.Bezeichnung
                </dt>
                <dd class="col-sm-9">
                    @merkmal.Wert
                </dd>
            }
    </dl>
    <hr class="my-4">
    <a asp-action="Artikel_Index" class="btn btn-primary btn" role="button">						
        Zurück
    </a>    
</div>