@model it_shop_app.Models.Artikel
@{
    ViewData["Title"] = "Details - Artikel";
}

<h1 class="display-3">Details</h1>

<div class="jumbotron">
    <h1 class="display-6">
        @Html.DisplayFor( model => model.Bezeichnung )
    </h1>
    <p>
        @Html.DisplayFor( model => model.Beschreibung )
    </p>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor( model => model.Preis )
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor( model => model.Preis ) €
        </dd>
        @foreach (var merkmal in Model.Merkmale)
            {
                <dt class="col-sm-3">
                    @merkmal.Bezeichnung
                </dt>
                <dd class="col-sm-9">
                    @merkmal.Wert
                </dd>
            }
    </dl>
    <hr class="my-4">
    <a asp-action="Artikel_Index" class="btn btn-primary btn" role="button">						
        Zurück
    </a>
    <a asp-action="Merkmal_Create" asp-route-id="@Model.ID" class="btn btn-primary btn" role="button">						
        Merkmale Hinzufügen
    </a>
    <a asp-action="Artikel_Delete" asp-route-id="@Model.ID" class="btn btn-danger btn" role="button">						
        Löschen
    </a>
</div>