@page
@model bestelldetailsModel
@using it_shop_app.Models

@{
    ViewData["Title"] = "Bestell Details";
    ViewData["ActivePage"] = ManageNavPages.Bestellungen;
}

<h1>Bestellung Nr.: @Model.Bestellung_id</h1>

<div class="row">    
    <div class="col-md-auto">
        @Model.bestellung.Bestelldatum
    </div>
</div>
<br />
<div class="row">
    <div class="col-md">

        <ul class="list-group">
            @foreach (ArtikelBestellung artikelBestellung in Model.artikelBestellung)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md">
                            <text>Name: </text>@artikelBestellung.Artikel.Bezeichnung
                        </div>
                        <div class="col-md">
                            <text>Preis: </text> @artikelBestellung.Artikel.Preis <text>€</text>
                        </div>
                        <div class="col-md">
                            <text>Anzahl: </text> @artikelBestellung.Anzahl
                        </div>

                        @{ var ges = artikelBestellung.Artikel.Preis * artikelBestellung.Anzahl; }

                        <div class="col-md">
                            <text>Gesamt: </text> @ges <text>€</text>
                        </div>
                    </div>                     
                </li>
            }
        </ul>

        <a class="btn btn-primary" asp-page="./Bestellungen">
            <i class="fas fa-caret-left"></i>
            Zurück
        </a>
    </div>
</div>